.video-player {
    cursor: pointer;
}

.single-page .video-container {
    display: none;
}

.video-bg-container .bgVideo-dimensions {
    height: 0;
}

.video-bg-container video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
